.container {
    display: grid;
    grid-template-areas: "title"
                         "sat"
                         "button"
                         "act";
    grid-gap: 1em;
    padding-bottom: 20px;
}

body {
    display:flex;
    flex-direction: column;
    flex-basis: content;

}
.square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    

}

input #satScore {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin:auto;
   
 
}

h1 {
    grid-area: title;
    display: grid;
    justify-content: center;
}
h2 {
    display:flex;
    justify-content: center;
    margin: 20px;
    padding-bottom: 20px;
}
#satBox {
    grid-area: sat;
  
}
.button {
    grid-area: button;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 115px;
    margin-right: 115px;

}
#actBox {
    grid-area: act; 

}